version: '2'

services:
  frontal:
    build: frontal
    image: zyra83/miligo-front
    ports:
      - "80:80"
      - "443:443"
    links:
      - payara
  payara:
    build: payara
    image: zyra83/miligo-app
    command: bin/asadmin start-domain -v --debug true
    ports:
      - "8080:8080"
      - "4848:4848"
    links:
      - database-mysql
  database-mysql:
    build: database-mysql
    image: zyra83/miligo-db
